step_function/step_fsm.json
{
  "Comment": "Zetamac Processor State Machine",
  "StartAt": "save",
  "States": {
    "save": {
      "Type": "Task",
      "Resource": "",
      "Next": "highScoreProcessor"
    },
    "highScoreProcessor": {
      "Type": "Task",
      "Resource": "",
      "Next": "scoreUpdateChoice"
    },
    "scoreUpdateChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.update",
          "BooleanEquals": true,
          "Next": "updateHighScore"
        },
        {
          "Variable": "$.update",
          "BooleanEquals": false,
          "Next": "generateResponse"
        }
      ]
    },
    "updateHighScore": {
      "Type": "Task",
      "Resource": "",
      "Next": "generateResponse"
    },
    "generateResponse": {
      "Type": "Task",
      "Resource": "",
      "End": true
    }
  }
}
